<%= form_for :user, url: user_registration_path do |f| %>
	<div class="form-group">
		<%= f.text_field :fname, placeholder: 'First Name', class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.text_field :lname, placeholder: 'Last Name', class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.text_field :email, placeholder: 'Email', class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.password_field :password, placeholder: 'Password', class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.password_field :confirm_password, placeholder: 'Confirm Password', class: 'form-control' %>
	</div>

	<input type="submit" name="register" class="btn btn-default">
<% end %>

<div class="register-help">
	<a href="#" data-toggle="modal" data-target="#login-modal" onclick="NT.home.toggleSignUp();">Sign up with social account</a>
</div>
