<%= form_for :user, url: user_registration_path do |f| %>
	<div class="form-group">
		<%= f.text_field :fname, placeholder: 'First Name', class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.text_field :lname, placeholder: 'Last Name', class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.text_field :email, placeholder: 'Email', class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.password_field :password, placeholder: 'Password', class: 'form-control' %>
	</div>

	<div class="form-group">
		<%= f.password_field :confirm_password, placeholder: 'Confirm Password', class: 'form-control' %>
	</div>

	<button type="submit" class="btn btn-default bluebutton">Register</button>
<% end %>

<div class="font12grey m-top8">
	<a href="javascript:void(0)" onclick="NT.home.toggleSignUp();">Sign up with social account</a>
</div>
